/* --- CONTENEDOR PRINCIPAL DEL BUSCADOR --- */
.search-widget {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 500px;
}

.search-box {
    width: 100%;
    position: relative;
}

app-search-autocomplete {
    width: 100%;
    display: block;
}

:host {
    display: flex;
    width: 100%;
    justify-content: center;
}