.construction-box {
  padding: 40px 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  border: 1px dashed #ccc;
  max-width: 600px;
  margin: 40px auto; 
}

.construction-icon {
  font-size: 4rem; /* Icono grande */
  margin-bottom: 20px;
  animation: bounce 2s infinite;
}

